.popup-overlay {
  /* pop-up background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the pop-up is displayed above other content */
  }
  
  .popup {
    /* the pop-up card */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }

  .close-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .popup-context {
    /* the inner alignment of the card elements are handled here */
    display: flex;
    flex-direction: column;
  }

  .popup-sign {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /* for size of svg */
    max-width: 150px; 
    max-height: 150px; 
  }
  
  .popup-sign svg {
    width: 100%; 
    height: 100%; 

    margin-bottom: 20px;
  }
  

  .popup-content{
    /* children - message */
    align-self: center;
    margin: 10px 0 10px 0;
    text-align: center;
  }
